.MenuContent {
  min-height: calc(100vh - 278px);
  display: flex;
  padding: 50px 42px;
  background: #EDE8E5;
  color: #3D1101;
  flex-wrap: wrap;
}

.menu {
  width: 24%;
}
.menu h3 {
  font-size: 20px;
  margin-bottom: 16px;
}
.menu li:hover {
  background: #3D1101;
}
.menu a {
  display: block;
  color: #3D1101;
  line-height: 32px;
  border-bottom: 1px solid #3D1101;
  padding: 4px 8px;
}
.menu a:hover {
  color: white;
}

@media (max-width: 768px) {
  .menu h3 {
    font-size: 14px;
  }
  .menu a {
    font-size: 12px;
  }
}
@media (max-width: 568px) {
  .menu {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu h3 {
    font-size: 20px;
    text-align: center;
  }
  .menu a {
    font-size: 16px;
  }
}
.fa-leaf {
  margin-right: 15px;
}

.menuContent {
  width: 76%;
  padding: 0 10px;
}

@media (max-width: 568px) {
  .menuContent {
    width: 100%;
    padding: 0;
  }
}
.topBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.topBar form {
  width: 62%;
  display: flex;
  margin-left: 10px;
}
.topBar input {
  height: 32px;
  border: 2px solid #3D1101;
  width: 100%;
  border-radius: 0;
}
.topBar button {
  background: #3D1101;
  color: white;
  border: none;
  width: 36px;
  height: 32px;
  border-radius: 0;
}

@media (max-width: 568px) {
  .topBar form {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.fa-search {
  font-size: 19px;
}

.shoppingCart {
  position: relative;
  font-size: 20px;
}

.checkOut {
  width: 35%;
  text-align: right;
}
.checkOut a {
  color: #3D1101;
}

@media (max-width: 568px) {
  .checkOut {
    width: 100%;
  }
}
.line {
  padding-left: 12px;
  padding-right: 17px;
}

.cartNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background: #FF5E45;
  border: 1px solid #EFE9E7;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -4px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  text-align: center;
}
.card img {
  height: 120px;
  object-fit: cover;
}
.card li {
  width: 30.3333%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 30px;
  box-shadow: 3px 3px 4px 0;
  position: relative;
}
.card h3 {
  font-size: 20px;
  margin-top: 11px;
}

@media (max-width: 768px) {
  .card li {
    width: 46.3333%;
  }
}
@media (max-width: 568px) {
  .card li {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}
.underLine {
  font-size: 12px;
  margin-top: 8px;
  position: relative;
}
.underLine ::after {
  content: "";
  border-bottom: 1px solid #3D1101;
  width: 90px;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.price {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.addCart {
  width: 90%;
  margin-top: 13px;
  border: 2px solid #FF5E45;
  color: #FF5E45;
  padding: 6px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  margin-left: 5%;
}
.addCart i {
  padding-right: 9px;
}

.addCart:hover {
  background: #FF5E45;
  cursor: pointer;
  color: white;
}

.fa-heart {
  position: absolute;
  top: 9px;
  left: 9px;
  color: white;
}