$mainColor:#3D1101;
$white:#EFE9E7;
$pink:#FF5E45;
$btn-orange:#F56C23;
$bg-gray:#EDE8E5;
$bg-gray2:#f6f4f3;
$fontsize-36:36px;
$fontsize-24:24px;
$fontsize-20:20px;
$fontsize-18:18px;
$fontsize-12:12px;
