/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: "Microsoft JhengHei";
}

.wrap {
	max-width: 1024px;
	margin: auto;
}

.container {
	padding: 50px 31px;
}

.container2 {
	padding: 50px 21px;
	display: flex;
	flex-wrap: wrap;
}

.container3 {
	padding: 50px 21px;
}

/*header*/

.logo {
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media(max-width:1024px) {
	.logo {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}

.logo h1 a {
	font-size: 24px;
	display: block;
	padding: 18px;
	margin-left: 20px;
}

.logo a {
	color: white;
	font-weight: bold;
}

@media(max-width:768px) {}

.pcMenu {
	display: flex;
}

.pcMenu li a {
	padding: 20px;
	display: block;
}

.phoneMenu {
	display: none;
}

@media(max-width:768px) {
	.pcMenu {
		flex-direction: column;
		max-height: 0px;
		overflow: hidden;
		position: absolute;
		top: 60px;
		z-index: 100;
		left: 0;
		right: 0;
		background: white;
		transition: max-height 1.2s;
	}
	.pcMenu a {
		color: black;
	}
	.phoneMenu {
		display: block;
		margin-right: 20px;
	}
	.menu-show .pcMenu {
		max-height: 400px;
	}
}

/*banner*/

.banner {
	position: relative;
	height: 420px;
	display: flex;
	justify-content: center;
}

@media(max-width:1024px) {
	.banner {
		padding-top: 80px;
	}
}

.slogan {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.35);
	text-align: center;
	padding: 20px 42px 26px 20px;
	margin-top: 8%;
}

@media(max-width:567px) {
	.slogan {
		margin-top: 18%;
	}
}

.slogan p {
	padding-top: 16px;
	line-height: 1.4;
}

.slogan h2 {
	font-size: 36px;
}

/*feature*/

.feature {
	text-align: center;
	background: #EDE8E5;
	color: #3D1101;
}

.title {
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
	margin-bottom: 32px;
}

.feature img {
	border-radius: 50%;
}

.feature ul {
	display: flex;
	flex-wrap: wrap;
}

.feature ul li {
	width: 33.333333%;
	padding: 0 31px;
}

.feature ul li h3 {
	padding-top: 20px;
	padding-bottom: 11px;
}

@media(max-width:768px) {
	.feature ul li {
		width: 49.999999%;
		margin-bottom: 20px;
	}
}

@media(max-width:567px) {
	.feature ul li {
		width: 100%;
	}
}

.feature ul li p {
	text-align: left;
	line-height: 1.2;
}

/*chef*/

.chef {
	background: #3D1101;
	display: flex;
	flex-wrap: wrap;
}

.chefImg {
	width: 49.99999%;
}

.chefImg img {
	object-fit: cover;
	padding-left: 42px;
}

.introduction {
	width: 49.99999%;
	padding-top: 81px;
	padding-bottom: 80px;
	padding-left: 25px;
	padding-right: 37px;
}

.introduction h3 {
	color: white;
	font-size: 20px;
}

.introduction h4 {
	color: white;
	padding-bottom: 16px;
	padding-top: 10px;
}

.introduction p {
	color: white;
	line-height: 1.4;
}

/*opinion*/

.opinion {
	text-align: left;
	background: #EDE8E5;
}

.opinion h2 {
	color: #3D1101;
	font-size: 24px;
	padding-bottom: 51px;
	text-align: center;
}

.feedback {
	display: flex;
	flex-wrap: wrap;
}

.feedback li {
	display: flex;
	width: 33.333333%;
	align-items: flex-start;
	padding-left: 21px;
	padding-right: 21px;
}

@media(max-width:768px) {
	.feedback li {
		width: 49.99999%;
		margin-bottom: 20px;
	}
}

@media(max-width:567px) {
	.feedback li {
		width: 100%;
	}
}

.feedback img {
	border-radius: 50%;
	margin-right: 13px;
}

.responsive {
	color: #3D1101;
	padding-top: 20px;
	line-height: 1.3;
}

.responsive h3 {
	font-size: 18px;
	padding-bottom: 22px;
}

.responsive h5 {
	text-align: right;
	padding-top: 16px;
}

/*map*/

.map {
	background: #f6f4f3;
}

.map h2 {
	text-align: center;
	color: #3D1101;
	font-size: 24px;
	padding-bottom: 38px;
}

.mapContent {
	display: flex;
	flex-wrap: wrap;
}

.mapImg {
	width: 49.999999%;
}

.mapImg img {
	height: 100%;
}

@media(max-width:567px) {
	.mapImg {
		width: 100%;
	}
}

.form {
	width: 49.999999%;
	color: #3D1101;
	flex-direction: column;
}

.formInput {
	width: 100%;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: inset 0px 1px 0px 0px #ECECEC;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 14px;
}

@media(max-width:768px) {
	.form {
		padding-left: 20px;
	}
}

@media(max-width:567px) {
	.form {
		width: 100%;
		padding-left: 0%;
	}
	.formInput {
		width: 100%;
	}
}

.radio {
	display: flex;
	margin-top: 8px;
}

.radio input {
	margin-right: 36px;
}

.btn {
	text-align: right;
	padding-top: 45px;
}

.btn input {
	width: 70px;
	height: 32px;
	border: none;
	color: white;
}

.cancel {
	background: rgba(0, 0, 0, 0.35);
	border-radius: 3px;
}

.submit {
	background: #F56C23;
	border-radius: 3px;
}

/*footer*/

.footer {
	background: #EDE8E5;
	color: #3D1101;
}

.footer h3 {
	font-size: 24px;
	margin-bottom: 16px;
}

.footer p {
	line-height: 1.2;
}

.footer li {
	line-height: 1.3;
}

.left {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.about {
	width: 50%;
	padding-left: 21px;
}

.contact {
	width: 50%;
	padding-left: 21px;
}

@media(max-width:567px) {
	.left {
		width: 100%;
	}
	.about {
		width: 100%;
		margin-bottom: 30px;
	}
	.contact {
		width: 100%;
		margin-bottom: 30px;
	}
}

.right {
	width: 50%;
	text-align: right;
	padding-right: 21px;
}

.right h2 {
	font-size: 49px;
	font-weight: bold;
}

.right ul {
	display: flex;
	justify-content: flex-end;
	padding-top: 22px;
}

.right li {
	padding-left: 12px;
}

@media(max-width:768px) {
	.right h2 {
		font-size: 43px;
	}
}

@media(max-width:567px) {
	.right {
		width: 100%;
	}
}

.fab {
	font-size: 36px;
}

.fa-google-plus-square {
	color: #DB4437;
}

.fa-twitter-square {
	color: #47ADE1
}

.fa-facebook-square {
	color: #3A5795;
}